@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.logo{
  max-width: 240px;
  margin: 30px auto;
  display: block;
}
.login-page {
  width: 360px;
  padding: 7% 0 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #47a0dc; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #47a0dc, #8DC26F);
  background: -moz-linear-gradient(right, #47a0dc, #8DC26F);
  background: -o-linear-gradient(right, #47a0dc, #8DC26F);
  background: linear-gradient(to left, #47a0dc, #8DC26F);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   

}

.login-page h3{
  text-transform: uppercase;
  font-size: 32pt;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 10px;
}

.login-page h4{
  text-transform: uppercase;
  font-size: 16pt;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  margin: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 3px 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #47a0dc;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #47a0dc;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

